<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="common/top.js"></script>
<link rel="stylesheet" href="resources/css/woori.css" type="text/css">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script type="text/javascript" src="common/menu.js"></script>
	
	
	<div style="height: 60px;">
		<div class="googleIcon float">
			<a href="html.html"><img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" style="width: 100%;"></a>
		</div>
		<div class="float searchWindow">
			<input class="searchWord" id="searchWord">
			<img class="iconMargin" src="https://www.gstatic.com/inputtools/images/tia.png">
			<img class="iconMargin" src="http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png" width="22px;" height="22px">
			<a href="javascript:;" id="searchIcon"><img src="https://svgsilh.com/svg/31179.svg" width="22px;" height="22px"></a>
		</div>
	</div>
	
	<div style="border-bottom: 1px solid #e5e5e5; height: 55px;">
		<div class="float menu selectMenu" id="web">
			<a href="javascript:;">웹 문서</a>
		</div>
		<div class="float menu" id="vclip">
			<a href="javascript:;">동영상</a>
		</div>
		<div class="float menu" id="image">
			<a href="javascript:;">이미지</a>
		</div>
	</div>
	
	<div id="searchContent" class="resultWindow float">
	</div>
	
	<footer class="btnMore float">
		<a href="javascript:;" id="btnMoreClick">더보기</a>
	</footer>
</body>
</html>
